<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ImdbApiUrl" value="http://www.imdb.com/xml/find?json=1&amp;nr=1&amp;tt=on&amp;q=" />
    <add key="YouTubeApiKey" value="AIzaSyCJ0PvmpwASLeLDzSVTbPsn1-bk2Xup-AU" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>